.all-blue:active {
    background-color: #35b4c7;
}

#save-and-go-button-box {
    float:right;
    margin-left: 10px;
}

#save-and-go-button {
    color: white;
    background-color:#3bc9de;
    font-size: 18px;
    height:75px;
    width:250px;
    text-align: right;
    padding: 10px 10px 0 0;
}

#save-and-go-actual-button {
/*    height:75px;
    width:250px;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;*/
    background-color:#3bc9de;
    border:0px;
}

#save-and-go-button:hover,
#save-and-go-actual-button:hover,
#save-and-go-button-text:hover {
    background-color: #35b4c7;
    border:0px;
}

#save-and-go-button-text {
    background-color: #3bc9de;
}

#save-and-go-button-bottom-text {
    font-size: 10px;
    color: white;
    text-align: right;
    padding: 0px 0 50px 0;
}