<html>
    <body>
        <h2>Password Reset</h2>
        <form method="post">
            <table>
                <tbody>
                    <tr>
                        <td style="text-align:right">Username <input type="text" name= "username" value="{{username}}"></td><td style="color: red">{{username_error}}</td>
                    </tr>

                        <td style="text-align:right">Email <input type="text" name= "email" value="{{email}}"></td><td style="color: red">{{email_error}}</td>
                    </tr>
                </tbody>
            </table>
            <input type="submit">
        </form>
    </body>
</html>
