<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password Reset</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--the line below is from frontend-nanodegree-resume-master.Some sources don't include "type="text/css" - why not?-->
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <script src="js/jquery-1.12.0.js"></script>
  <script src="js/jquery.cookie.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript.js"></script>
</head>

    <body class="body-standard">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid clear">
          <div class="navbar-header">
            <a href="index.html" ><span class="navbar-brand">ORHRAT</span></a>
            <div id="hamburg">
              <a href="login-menu.html"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
          </div>
        </div>
      </nav>

    <div class="container-fluid clear">
        <div class="row clear">
          <div id="password-reset-heading">
            <h3>PASSWORD RESET</h3>
            <h6 id="no-account">Don't have an account?&nbsp;
            <a href="ORHRAT_user_signup.html"><span id="account-creation-button">Sign Up</span></a></h6>
          </div>
        </div> <!--End of row.-->

        <div class="row clear">
          <div id="username-email">
            <form method="post">

              <label><h4>Username</h4></label><br>

              <input type="text" name="username" id="username" value="{{username}}"><br>

              <span class="login-error">{{login_error}}</span>
              <hr>
              <label><h4>Email</h4></label><br>
                <input type="text" name="email" id="email" value="{{email}}">
              <hr>
              <div id="back-to-login">
                <a href="login.html">
                <h6 id="back-to-login-button"><strong>Back to Login.</strong></h6>
                </a>
              </div>
              <!-- Change go-button stuff at some point. -->
              <div id="forgot-password-button-box">
                <input type="submit" id="forgot-password-button-text" value="Submit">
              </div>
            </form>
          </div>
        </div><!-- End of row -->
    </div> <!-- End container. -->
    </body>
</html>
