<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--the line below is from frontend-nanodegree-resume-master.Some sources don't include "type="text/css" - why not?-->
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <script src="js/jquery-1.12.0.js"></script>
  <script src="js/jquery.cookie.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript.js"></script>
</head>

    <body>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid clear">
          <div class="navbar-header">
            <a href="index.html" ><span class="navbar-brand">ORHRAT</span></a>
            <div id="hamburg">
              <a href="login-menu.html"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
          </div>
        </div>
      </nav>

    <div class="container-fluid clear">

        <div class="row clear">
          <div class="col-xs-8" id="login-heading">
            <h3>PASSWORD RESET</h3>
          </div>
          <div class="col-xs-4">
          </div>
        </div>

<!-- It would be nice if the autocompleted fields didn't have a yellow background. -->
        <div class="row clear">
          <div class="col-xs-8" id="username-password">
            <form method="post"> <!--class="input"-->
              <label><h3>Username
                <input type="text" name="username" id="username" value="{{username}}"></h3>
              </label>
              {{login_error}} <!-- Change this at some point. -->
              <hr>
              <label for="email"><h3>Email
                <input type="text" name="email" id="email" value="{{email}}"></h3>
              </label>
              <hr>
              <div id="go-button-box">
                <input type="submit" id="go-button-text" value="Submit">
              </div>
            </form>
          </div>
          <div class="col-xs-4">
          </div>
        </div>

        <div class="row clear">
          <div class="col-xs-8" id="back-to-login">
            <a href="login.html">
            <h6 id="back-to-login-button"><strong>Back to Login.</strong></h6>
            </a>
            <h6 id="no-account">Don't have an account?</h6>
            <a href="ORHRAT_user_signup.html"><h6 id="account-creation-button">Start account creation</h6></a>
          </div>
          <div class="col-xs-4">
          </div>
        </div>

    </div> <!-- End container. -->
    </body>
</html>
