<!DOCTYPE html>
<html lang="en">
<head>
  <title>Healthy Relationships</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--the line below is from frontend-nanodegree-resume-master.Some sources don't include "type="text/css" - why not?-->
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <script src="js/jquery-1.12.0.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript.js"></script>
</head>

  <body class="body-info-pages">
<!-- Wait, does the navbar go in the body? Or is the body AFTER the navbar? -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid clear">
          <div class="navbar-header">

              <a href="index.html"><span class="navbar-brand">ORHRAT</span></a>

              <div id="hamburg" class="login-menu-hamburg">

                <a href="login.html"><span class="glyphicon glyphicon-menu-hamburger"></span></a>

              </div>

          </div>
        </div><!-- End of container. -->
      </nav>

    <div id="wrap">

      <div class="container-fluid clear" id="hr-wim-body">
        <div class="row clear" id="hr-body-row">

          <div class="col-xs-8 clear">
            <div id="pdf"><span class="glyphicon glyphicon-file"></span>Download a PDF</div>

            <h1 id="hr-heading">HEALTHY RELATIONSHIPS AFFECT EVERYONE</h1>
            <h5 class="hr-subhead">Something about how it's critical information for everyone to learn in school</h5>
            <p class="hr-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Maecenas imperdiet, odio nec dapibus imperdiet, ligula lacus hendrerit elit, et sagittis augue lectus a nibh.  Proin non libero ut lectus scelerisque faucibus nec nec ex.  Ut in accumsan dolor.  Integer ornare ex eget dolor volupat, ultricies suscipit dolor facilisis.</p>
            <br>
             <h5 class="hr-subhead">Quick overview about what the objectives of thsi info/tool is:</h5>
            <p class="hr-paragraph">Vestibulum nec purus eros.  Maecenas vel arcu in ante tincidunt tincidunt.  Donec malesuada, est id vehicula convallis ipsum est consecteutur ipsum, in porttitor metus spien at mi.  Curabitur purus orci, lobortis eget tellus et, blandit ullamcorper lacus.  Curabitur vitae ultricies orci, vel placerat nibh.  Cras aliquam odio sed libero eleifend porta.  Praesent laoreet finibus nunc, id ullamcorper eros venenatis non,  Nam eleifend at quam et convallis.  Aliquam pretium ac odio quis facilsis.  Cras aliquam odio sed libero eleifend porta.  Praesent laoreet finibus nunc, id ullamcorper eros venenatis non.  Nam eleifend at quam et convallis.  Aliquam pretium ac odio quis facilsis.</p>

            <div id="hr-next-button-box">
              <a href="what_is_meant.html">
                <div class="align-right" id="next-button">
                  <div id="next->">Next ></div>
                  <div id="next-button-bottom">
                  What is Meant by "Healthy Relationships"?</div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-xs-4 clear right-column">
            <div id="hr-vr">
              <div id="resources">
                    <h4>Resources</h4><br>
                    <p>Lorem ipsum dolor sit ame, consectetur adipiscing elt.</p>
                    <p>Maecenas imperdiet, odio nec dapibus imerdiet,ligula lacus hendrerit elit, et sagittis augue lectus a nibh.<a id="link">  Link</a></p>
                  </div>
                </div>
              </div> <!-- End of resources. -->
            </div> <!-- End of col-md-4. -->

        </div> <!-- End of row. -->
      </div> <!-- End of container. -->

    </div> <!-- End of wrap. -->

    <div id="footer">
      <div class="container">
        Footer Information
      </div>
    </div>

<!--
      <footer class="footer navbar-fixed-bottom">
        <div class="container-fluid clear">
          Footer Information
        </div>
      </footer>
-->
     <!-- Is this better than using the footer class?:
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-footer" -->

        </div> <!-- End of container. -->
      </nav> <!-- End of navbar. -->

  </body>
</html>