<!DOCTYPE html>
<html lang="en">
<head>
  <title>ORHRAT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- From Responsive Design class example.  He didn't suggest it in a lesson, but I noticed that he used it.-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">



  <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--the line below is from frontend-nanodegree-resume-master.Some sources don't include "type="text/css" - why not?-->
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" media="screen and (min-width:***px)" href="css/untitled.css">


  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed: 400, 700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto: 400, 700" rel="stylesheet">

  <script src="js/jquery-1.12.0.js"></script>
  <script src="js/jquery.cookie.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript.js"></script>
<!--   <script src="js/js.cookie.js"></script>
 -->
 </head>

<body id="home">
    <div class="container-fluid clear" id="heading">
      <div class="row clear" id="heading-row">
            <h1>OREGON HEALTHY RELATIONSHIPS
            <br>ASSESSMENT TOOL</h1>
      </div>
    </div>

    <div class="container-fluid clear" id="overview">
        <div class="row clear" id="overview-row">
          <p>Welcome to Oregon’s Healthy Relationship Curriculum Review Tool (OHRCAT) developed by the Oregon Attorneys General’s Sexual Assault Task Force’s (SATF) Sexual Health Work Group (SHWG). This tool is designed to facilitate evaluation of curricula based on education benchmarks in Oregon and in the United States. There are several sections within this tool that are designed to provide context to this process and enhance our common understanding of and language for healthy relationships. These include: Core Concepts, Reviewer Guidelines, and Criteria Overview.</p>
        </div> <!-- End of row. -->
    </div> <!-- End container -->

    <div class="container-fluid clear">
        <div class="row clear" id="get-started-button">
          <a href="ORHRAT_user_signup.html">Get Started
          </a>
        </div> <!--End of row. -->
    </div> <!-- End container -->

    <div class="container-fluid clear">
        <div class="row clear" id="login-box">
            <p id="login-question" class="small">Already have an assessment started?</p>

            <!-- Need to program. Hover to highlight. Click for action. -->
            <a href="login.html" class="btn"><h4 id="login-button-text"><strong>LogIn</strong></h4></a>
        </div>
    </div> <!-- End container -->

</body>
</html>