          <div id="save-and-go-button-box">
            <div id="save-and-go-button">
              <button type="submit" id="save-and-go-actual-button" form="st4-form">
                <span id="save-and-go-button-text">Save and Go to Next ></span>
                <span id="save-and-go-button-bottom-text">Standard 4 (Student Skill Practice)</span>
              </button>
            </div>
          </div>

          <div id="s-and-c">
            <a href="standard_4.html">
              <div id="save-and-continue-button-box">
                <div id="save-and-continue-button">
                  <button type="submit" id="save-and-continue-button-text" form="st4-form">Save and<br>Continue Editing</button>
                </div>
              </div>
            </a>
          </div>