<!DOCTYPE html>
<html lang="en">
<head>
  <title>What is Meant?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--the line below is from frontend-nanodegree-resume-master.Some sources don't include "type="text/css" - why not?-->
  <link href="css/style.css" rel="stylesheet" type="text/css">

  <script src="js/jquery-1.12.0.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/javascript.js"></script>
</head>

  <body class="body-info-pages">
<!-- Wait, does the navbar go in the body? Or is the body AFTER the navbar? -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid clear">
          <div class="navbar-header">
            <a href="index.html"><span class="navbar-brand">ORHRAT</span></a>
          </div>

          <div id="login-logout"><a href="login.html">Login/</a><a href="/logout">Logout</a>
          </div>

          <div id="hamburg" class="login-menu-hamburg">
                <!-- Need to animate that hamburger menu icon to turn 90 degrees when the link is clicked -->
                <a href="login.html"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
          </div>
        </div><!-- End of container. -->
      </nav>

    <div id="wrap">

      <!-- I'm leaving this sections styles as hr-*** even though this page is wim.  I need to wrap my head around the best way to name this stuff clearly. -->
      <div class="container-fluid clear" id="hr-wim-body">
        <div class="row clear" id="hr-body-row">
          <div class="col-xs-8 clear uls-behave">
            <div id="pdf"><span class="glyphicon glyphicon-file"></span>Download a PDF</div>
            <h1 id="hr-heading">WHAT IS MEANT BY "HEALTHY RELATIONSHIP"?</h1>
            <h5 class="hr-subhead">In relation to Human Sexuality Education</h5>
            <p class="hr-paragraph">"Healthy relationship" means one in which both people feel a healthy sense of "self".  Each person feels comfortable and safe when spending time with the other person.  Two individuals try to meet each other's needs, and each can ask for help and support, within and outside of the relationship without fear of criticism or harm;</p>
            <br>
             <h5 class="hr-subhead">How the OAR language reflects our practice:</h5>
            <p class="hr-paragraph">We asked SHWG members whether the OAR definition reflects their practice.  The followingbreaks down the OAR language to incorporate the feedback we received.</p>
            <p class="hr-paragraph">1) Both people feel a healthy sense of "self"
            <ul>a) This includes the ability to be one's authentic self.</ul></p>
            <p class="hr-paragraph">2) Each person feels comfortable and safe when spending time with the other person.
            <ul>a) This includes the "CERTS" values of equality, mutual respect, trust,</ul></p>
            <p class="hr-paragraph">Two individuals try to meet each other's needs</p>
            <p class="hr-paragraph">Each can ask for help and support within and outside of the relationship without fear of criticism or harm.
            <ul>a) We take this to mean without fear of undue criticism, shaming, or belittling.</ul>
            <ul>b) Positively framed, we take this to include open honest communication, and to include both pursuing and ending a relationship in a healthy way.</ul></p>


            <div id="next-button-box">
              <div class="align-right" id="next-button">
                <div id="next->">Next ></div>
                  <div id="wim-next-button-bottom">
                Is Healthy Relationship Education the same as Sex Ed or Health Ed?</div>
              </div>
            </div>
          </div>
          <div class="col-xs-4 clear right-column">
            <div id="wim-vr">
              <!-- <div id="wim-vr-big"> -->
                <div id="OAR">
                  <h4>OAR 581-022-1440</h4><br>
                  <p>This definition was adopted by the Oregon State Board of Education January 25, 2013.</p>
                </div>
              </div>
            </div>
          </div> <!-- End of col-md-4. -->
        </div> <!-- End of row. -->
      </div> <!-- End of container. -->

    </div> <!-- End of wrap. -->

    <div id="footer">
      <div class="container">
        Footer Information
      </div>
    </div>

<!--
      <footer class="footer navbar-fixed-bottom">
        <div class="container-fluid clear">
          Footer Information
        </div>
      </footer>
-->
     <!-- Is this better than using the footer class?:
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-footer" -->

        </div> <!-- End of container. -->
      </nav> <!-- End of navbar. -->

  </body>
</html>